*{
   box-sizing: border-box; 
}

/* header styling */

header h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    background: teal;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

/* main styling */

main {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    
}

main button {
    width: 100px;
    margin: 20px 10px;
}

main .goalReached {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    height: 300px;
    padding: auto 0;
    border: 2px solid black;
    border-radius: 10px;
}

/* footer styling */