*{
   box-sizing: border-box;
}

body {
    background-image: url(../images/double-bubble.png); 
}

/* header styling */

header h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    background: teal;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

/* main styling */

main {
    margin-top: 10px;
    width: 100%;
    text-align: center; 
}

main h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

main button {
    width: 100px;
    margin: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: teal;
}

main #yesButton {
    background-color: green;
}

main #noButton {
    background-color: yellow;
    color:black;
}

main #yesButton:focus {
    background-color: blue;
}

main #noButton:focus {
    background-color: blue;
    color: white;
}

main section {
    width: 70%;
    margin: 10px auto;
    padding-top: 10px;
    padding: auto 0;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

/* main .addGoal {
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;
    margin: 10px auto;
    padding-top: 30px;
    background-color: white;
    padding: auto 0;
} */

/* footer styling */